[submodule "colmap"]
	path = colmap
	url = git@github.com:TaoWang97/colmap.git
[submodule "gaussian_splatting"]
	path = gaussian_splatting
	url = git@github.com:TaoWang97/gaussian-splatting.git
[submodule "nuscenes_dataset"]
	path = nuscenes_dataset
	url = git@github.com:mrgares/vx51_nuscenes_dataset.git
